<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Service",
  "serviceType": "{{ serviceType }}",
  "provider": {
    "@type": "LocalBusiness",
    "name": "{{ site.fullName }}",
    "url": "{{ site.url }}/",
    "telephone": "+1-{{ site.phone }}"
  },
  "areaServed": {{ serviceAreaServed | dump | safe }},
  "offers": {
    "@type": "Offer",
    "priceCurrency": "{{ servicePriceCurrency or 'USD' }}",
    "price": "{{ serviceStartingPrice }}",
    "description": "{{ serviceOfferDescription }}"
  }
}
</script>
